{% extends "index.html" %}
{% block content %}
<h2>Appointments</h2>
<div class="row">
  <div class="col-md-10">
    <form method="POST" action="/appointments/search">
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control" name="patient_name" placeholder="name">
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">
    <a href="/appointment/add" class="btn btn-primary float-right">Add</a>
  </div>
   
</div>

<div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Appointment Date</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in appointments %}
          <tr>
            <td>{{appointment.id}}</td>
            <td>{{appointment.patient_name}}</td>
            <td>{{appointment.doctor_name}}</td>
            <td>{{appointment.appointment_date}}</td>
            <td><a href="/appointment/edit/{{appointment.id}}">Edit</a></td>
            <td><a href="/appointment/delete/{{appointment.id}}">Del</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}